html{ 
	padding: 60px;
}
.btn{ 
	background-color: rgb(0, 132, 255);
	color: white;
	padding: 10px 20px; 
	border: none;
}

.btn:hover{
	background-color: rgb(0, 119, 255);
	cursor: pointer;
}

input, select, textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	outline: none;
	border: none;
	border-radius: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.label {
	display: block;
	margin-bottom: 0.25em;
}
.input {
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
	background-color: white;
}
.input:focus {
	border-color: gray;
}
.input::placeholder {
	color: gray;
}
form {
	max-width: 500px;
}
.input, .checkbox-label {
	margin-bottom: 1em;
}







form {
	max-width: 500px;
}
.input, .checkbox-label {
	margin-bottom: 1em;
}

